p {
  margin: 10px 0 !important;
}
.textarea1{
  height:200px;
  width:700px;
}
.login-container {
  width: 400px;
  position: absolute;
  top:150px;
  left:50px;
  text-align: center;
}

.image-container {
  width:500px;
  position:relative;
  height:400px;
  left:500px;
}

.fa-small {
  font-size: 16px !important;
}

.btn-float {
  float: left;
  margin-right: 10px;
}

.img-small {
  width: 180px;
}
