<h3>Add Audio files</h3>
<div class="row">
    <form action="/upload" method="POST" class="col s12">
        

        <div class="row">
            <div class="input-field">
                <h5>Upload only .wav files</h5>
            </div>
        </div>

         <div class="row">
            <div class="input-field">
                <input type="file" />
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                 <input type="submit" value="convert" class="btn">
            </div>
        </div>

        <div class="row">
            <div >
              <textarea class="textarea1" rows="4" cols="50" placeholder=".."></textarea>
            </div>
        </div>
        
        

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
</div>