PORT = 3000
MONGO_URI = mongodb+srv://vijay:vijay003@cluster0.xvcl5.mongodb.net/deepvision?retryWrites=true&w=majority
GOOGLE_CLIENT_ID = 98723754136-avkgqpqhfdv98naaau39juin1g5s1dsk.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET = 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